.button {
  -fx-background-color: #e6a96c;
  -fx-text-fill: black;
  -fx-border-radius: 2px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #e6916c;
}

.combo-box .arrow-button {
  -fx-background-color: #e6a96c;
}

.combo-box.list-cell:hover{
-fx-background-color: #e6a96c;
}

.tab {
  -fx-background-color: #e6a96c;
  -fx-text-fill: white;
  /*-fx-border-color: #000000;*/
  }

.tab:hover {
  -fx-background-color: #e6916c;
  -fx-text-fill: white;
  /*-fx-border-color: #000000;*/
  }

.tab:selected {
  -fx-background-color: #e6916c;
  -fx-text-fill: white;
  /*-fx-border-color: #000000;*/
  }